@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

.font-heading{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-text{
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.font-emphasis-heading{
  font-family: "Marck Script", cursive;
  font-weight: 400;
  font-style: normal;
}

.font-emphasis-text{
  font-family: "Great Vibes", cursive;
  font-weight: 400;
  font-style: normal;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #E9D8A6 inset; /* Replace with your bg-secondary color */
  -webkit-text-fill-color: #230506; /* Replace with your text-primary color */
  transition: background-color 5000s ease-in-out 0s;
}